version: '3.8'

services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
      - media_volume:/app/media
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: mysql:8.0
    volumes:
      - mysql_data:/var/lib/mysql
    environment:
      - MYSQL_DATABASE=eventsoft_prueba
      - MYSQL_USER=eventsoft_user
      - MYSQL_PASSWORD=eventsoft_user
      - MYSQL_ROOT_PASSWORD=root_password
    ports:
      - "3308:3306"
    command: --default-authentication-plugin=mysql_native_password

volumes:
  mysql_data:
  static_volume:
  media_volume: