{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h2>Cargar programación técnica – {{ evento.eve_nombre }}</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Archivo PDF</label>
            <input type="file" name="programacion_tecnica" accept=".pdf" class="form-control" required>

            {% if evento.eve_informacion_tecnica %}
                <div class="mt-2">
                    <a href="{{ evento.eve_informacion_tecnica.url }}"
                       target="_blank"
                       class="btn btn-outline-secondary btn-sm">
                        Ver archivo actual
                    </a>
                </div>
            {% endif %}
        </div>

        <button type="submit" class="btn btn-primary">Subir</button>
        <a href="{% url 'dashboard_evaluador' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}